* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.block {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.block:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  main {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .block {
    width: 90%;
    margin: 20px;
  }
}

.image-class1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.image-class2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.image-class3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}
